
.slideshow {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 100%;
    min-width: 300px;
    border-radius: 4px;
  }

  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
    /*height: 100vh;
    */width: 100%;
  }
  
  .slide {
    padding: 0px;
    display: inline-block;
    width: 100%;
  }
  .slide  img{
      width: 100%;
    /**/
  }
  .slideDiv{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
  }
  .slideDiv > img {
    /*height: 100vh;
    */object-fit: cover;
    object-position: center;margin-top: 0px;
  }
  /* .slideDiv >*{
    width: 50%;
  } */
  .slideDivImg img{
    object-fit: cover;
    object-position: top;
  }
  .slidesBrand{
    display: block; 
    font-family: 'Roboto Serif', serif;
    font-size: 2em;
    padding-top: 50px;
  }
  .slidesBrand>*{
    margin: auto;
    text-align: center;
  }
  .brandName{
    color: rgb(20, 19, 19);
  }
  .slidesBrand2 img{ 
    object-fit: contain; 
    object-position: top;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.355);
  }
  .slidesBrand:hover,.slideDivImg:hover{
    transform: scale(1.01);
  }
  .slidesBrand2 {
    width: 20%;
    /*height: 60%;
    */position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: flex-end;
  }
  @media screen and (max-width: 680px) {
    
    .slidesBrand{
      font-size: 2.5em;
    }
    .slideDivImg img{
      object-fit: cover;
    }
  }
  @media screen and (max-width: 500px) {
    .slide img{
      /*height: 70vh;
   */ }
   .slideshowSlider {
      /*height: 70vh;
   */ }
    .slideDiv{
      display: grid;
    }
    .slideDiv>*{
      width: 100%;
    }
    .slideDivImg img{
      object-position: top;
    }
    .slidesBrand{
      padding-top: 0px;
      display: flex;
      /*height: 30vh;
   */ }
    
    .brandName{
      display: none;
    }
    
  }
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
    z-index: 3;
    /*height: 40px;
 */ }
  
  .slideshowDot {
    display: inline-block;
    /*height: 20px;
    */width: 20px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #8f87fa;
  }
  
  .slideshowDot.active {
    background-color: #0729e7;
  }