@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');body {
  /*background-color: rgb(149, 180, 209);*/
  background-color: rgb(163, 163, 163);
  font-family:'Roboto', sans-serif;
  /*text-shadow: 0px 0px 2px rgb(155, 154, 154);*/
  color: rgb(241, 239, 239);
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 350px;
}
.MuiPaginationItem-root{
  color:aliceblue;
}
*{
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: rgb(241, 239, 239);
}
